:root {
    --primary-color: #000;
    --secondary-color: #ece1d7;
    --accent-color-1: #000D46;
    --accent-color-2: #aeb3b9;
    --font-updock: "Updock", cursive;
    --font-milonga: "Milonga", serif;
    --font-tapestry: "Tapestry", serif;
}

/* || SITE WIDE || */

body {
    font-family: var(--font-tapestry);
}

header,
footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
}

main {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 2rem;
    line-height: 175%;
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-milonga);
    text-decoration-line: underline overline;
    text-decoration-color: var(--primary-color);
    text-decoration-skip-ink: none;
}

li {
    list-style-type: "♪ ";
}

button, a {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

q {
    color: var(--accent-color-1);
}

section {
    border: var(--accent-color-1) solid 3px;
    border-radius: 4px;
    background-color: var(--accent-color-2);
    padding: .5rem 1rem;
    margin: 1rem;
}

/* || HEADER || */

header {
    display: grid;
    grid-template-areas: 
    "title logo"
    "title btn";
    align-items: center;
}

header h1 {
    grid-area: title;
    justify-self: center;
}

header img {
    grid-area: logo;
    justify-self: center;
}

/* || NAVIGATION || */

#nav-bar {
    display: none;
}

#nav-bar.open {
    display: block;
}

.navigation ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.navigation li {
    list-style-type: none;
    padding: 13px;
}

.current::before {
    content: "🎼";
}

/* || HAMBURGER BUTTON || */

.hamburger {
    width: 44px;
    height: 44px;
    font-size: xx-large;
    background-color: inherit;
    border: none;
    color: var(--secondary-color);
    grid-area: btn;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.open::before {
    content: "\00D7";
}


/* || HOME || */

 


/* || FORM || */

form {
    justify-self: center;
}

fieldset {
    border-color: var(--primary-color);
}

input {
    display: block;
    padding: 4px;
    margin: 0 auto .5rem 1rem;
}

input[type="radio"] {
    display: inline;
}

input:required {
    border-left: red 5px solid;
}

input:required:valid {
    border-left: green 5px solid;
}

button {
    background-color: var(--accent-color-1);
    color: var(--accent-color-2);
    padding: .8rem;
    margin-left: 42%;
    border: var(--accent-color-2) 5px inset;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: .6rem;
    margin: .5rem;
    border: var(--accent-color-2) 5px inset;
    border-radius: 5px;
}

/* || MODAL || */

#courses-joined {
    padding: 2rem;
    width: 250px;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

#courses-joined::backdrop {
    backdrop-filter: blur(1px) brightness(80%);
}

#closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
}


/* || FOOTER || */

footer {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 75px;
    align-items: center;
    justify-content: center;
}

footer p {
    padding: .2rem;
}

#social {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    margin: auto;
}