:root {
    --primary-color: #ccb994;
    --secondary-color: #042500;
    --accent-color-1: #a57939;
    --accent-color-2: #EEDECC;
    --body-font: "Roboto", sans-serif;
    --heading-font: "Domine", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--secondary-color);
}

main {
    max-width: 1500px;
    margin: auto;
}

main > *:not(.hero) {
    margin: 2rem;
}

header,
footer {
    background-color: var(--primary-color);
}

h1,
h2 {
    font-family: var(--heading-font);
    text-align: left;
}

header {
    padding: 0 75px;
    display: grid;
    grid-template-columns: 50px auto 44px;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    border-bottom: var(--secondary-color) solid 1px;
}

/* || HAMBURGER BUTTON || */

.hamburger {
    font-size: 2rem;
    border: none;
    background: none;
    color: var(--secondary-color);
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.open::before {
    content: "\00D7";
}

/* || NAVIGATION || */

.navigation {
    display: none;
    grid-column: 1/4;
    text-align: center;
}

.navigation.open {
    display: block;
}

.navigation ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
}

.navigation a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: var(--secondary-color);
    border-top: var(--secondary-color) solid 1px;
    font-weight: bold;
}

.navigation a:hover {
    text-decoration: underline;
}

.current {
    text-shadow: 0 0 5px #555;
}

/* || DIRECTORY || */

.button-div {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    margin: 1rem 1rem 2rem;
}

.view-swap {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: .5rem 1rem;
    border: var(--accent-color-1) solid 2px;
    border-radius: 10px;
    text-align: center;
}

#members.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin: 2rem;
    justify-content: center;
    text-align: center;
}

#members.grid section {
    border: #ccc solid 1px;
    box-shadow: 0 7px 10px #333;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .7rem;
}

#members.grid section img {
    margin: .5rem;
}

#members.list {
    margin: .5rem;
}

#members.list section {
    border: #ddd solid 1px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 1rem;
}

#members.list section:nth-child(odd) {
    background-color: var(--accent-color-2);
}

#members.list section img {
    display: none;
}

/* ||- HOME PAGE -|| */

/* || HERO || */

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
}

.keynote {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 1.5rem;
    margin: auto;
    background-color: var(--accent-color-2);
    border: var(--secondary-color) solid 3px;
    border-radius: 10px;
    text-align: center;
}

.keynote a {
    font-size: larger;
    font-weight: bold;
    color: var(--secondary-color);
}

.quick-look {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 1rem;
}

.quick-look article {
    background-color: var(--accent-color-2);
}

.quick-look article h2 {
    padding: 5px 10px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.quick-look article section {
    padding: 5px;
}

.quick-look img {
    float: left;
}

.low-temp {
    color: #466A42;
    font-size: 85%;
}


/* || FOOTER || */

footer {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 75px;
    align-items: center;
    justify-content: center;
}

footer p {
    padding: .2rem;
}

#social {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    margin: auto;
}