:root {
    --primary-color: #ccb994;
    --secondary-color: #042500;
    --accent-color-1: #a57939;
    --accent-color-2: #EEDECC;
    --body-font: "Roboto", sans-serif;
    --heading-font: "Domine", serif;
    --circle: "../images/circle.svg";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--secondary-color);
}

main {
    max-width: 1500px;
    margin: auto;
}

main > *:not(.hero) {
    margin: 2rem;
}

header,
footer {
    background-color: var(--primary-color);
}

h1,
h2,
h3,
h4 {
    font-family: var(--heading-font);
    text-align: left;
}

header {
    padding: 0 75px;
    display: grid;
    grid-template-columns: 50px auto 44px;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    border-bottom: var(--secondary-color) solid 1px;
}

/* || HAMBURGER BUTTON || */

.hamburger {
    font-size: 2rem;
    border: none;
    background: none;
    color: var(--secondary-color);
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.open::before {
    content: "\00D7";
}

/* || NAVIGATION || */

.navigation {
    display: none;
    grid-column: 1/4;
    text-align: center;
}

.navigation.open {
    display: block;
}

.navigation ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
}

.navigation a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: var(--secondary-color);
    border-top: var(--secondary-color) solid 1px;
    font-weight: bold;
}

.navigation a:hover {
    text-decoration: underline;
}

.current {
    text-shadow: 0 0 5px #555;
}

/* || DIRECTORY || */

.button-div {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    margin: 1rem 1rem 2rem;
}

.view-swap {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: .5rem 1rem;
    border: var(--accent-color-1) solid 2px;
    border-radius: 10px;
    text-align: center;
}

#members.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin: 2rem;
    justify-content: center;
    text-align: center;
}

#members.grid section {
    border: #ccc solid 1px;
    box-shadow: 0 7px 10px #333;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .7rem;
}

#members.grid section img {
    margin: .5rem;
}

#members.list {
    margin: .5rem;
}

#members.list section {
    border: #ddd solid 1px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 1rem;
}

#members.list section:nth-child(odd) {
    background-color: var(--accent-color-2);
}

#members.list section img {
    display: none;
}

/* ||- HOME PAGE -|| */

/* || HERO || */

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
}

.keynote {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 1.5rem;
    margin: auto;
    background-color: var(--accent-color-2);
    border: var(--secondary-color) solid 3px;
    border-radius: 10px;
    text-align: center;
    max-width: 50vw;
}

 .keynote a {
    font-size: larger;
    font-weight: bold;
    color: var(--secondary-color);
}

/* || HOME || */

.quick-look {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.quick-look > article {
    background-color: var(--accent-color-2);
}

.quick-look > article > h3 {
    padding: 5px 10px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.quick-look > article > section {
    padding: 5px;
}

.quick-look img {
    float: left;
}

.low-temp {
    color: #466A42;
    font-size: 85%;
}

/* || */

#spotlights {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#spotlights > article {
    background-color: var(--accent-color-2);
    border: var(--secondary-color) solid 2px;
    border-radius: 10px;
    padding: 1rem;
}


/* || JOIN PAGE || */


/* || FORM || */

/* .form {
    margin: auto;
} */

.form fieldset {
    border: none;
}

.form fieldset * {
    display: block;
}

.form legend {
    font-size: xx-large;
    font-family: var(--heading-font);
}

.form label {
    margin: 5px 1rem;
    font-weight: bold;
}

.form select {
    margin-left: 1rem;
}

.form input {
    padding: 3px;
    width: 300px;
    border: black solid 2px;
    border-radius: 3px;
}

.form input:invalid {
    border-left: firebrick 4px solid;
}

.form input:valid {
    border-left: rgb(58, 119, 8) 4px solid;
}

.form textarea {
    width: 300px;
}

.form input[type="submit"] {
    padding: 8px;
    margin: auto calc(75px + 2rem);
    width: 150px;
    font-weight: bold;
    font-size: large;
    letter-spacing: 1px;
    background-color: var(--primary-color);
    border: var(--secondary-color) 3px solid;
    border-radius: 5px;
    outline: var(--accent-color-1) 2px solid;
    outline-offset: 1px;
}

/* || LEVEL CARDS || */

@keyframes slide-on-screen {
    from {
        transform: translateX(150%);
    }
    to {
        transform: translateX(0%);
    }
}

.member-level {
    margin: 20px auto;
    padding: 10px;
    border: var(--accent-color-1) solid 5px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    /* transform: translateX(150%); */

    
    /* mask: url(../images/circle.svg) left / inherit no-repeat; */
}

#NonProfit-div {
    animation: slide-on-screen 2s linear 0s 1;

}

#Bronze-div {
    animation: slide-on-screen 2.5s linear 0s 1;
    
}

#Silver-div {
    animation: slide-on-screen 3s linear 0s 1;
    
}

#Gold-div {
    animation: slide-on-screen 3.5s linear 0s 1;
    
}

.member-level * {
    justify-self: center;
}

.member-level button {
    margin: 10px;
    padding: 10px;
    background-color: var(--primary-color);
    border: var(--accent-color-1) inset 3px;
    border-radius: 5px;
}

/* || LEVELS DIALOG || */

#level-dialog::backdrop {
    background-color: rgba(0, 0, 0, 70%);
}

#level-dialog {
    width: 500px;
    height: min-content;
    padding: 3rem;
    margin: auto;
    border: var(--secondary-color) solid 5px;
    border-radius: 20px;
    background-color: var(--accent-color-2);
    color: var(--secondary-color);
    outline: var(--accent-color-1) solid 3px;
    outline-offset: -10px;
}

#level-dialog * {
    margin: 1rem auto;
}

#level-dialog li {
    list-style-type: circle;
    margin-left: 2rem;
}

#level-dialog button {
    float: right;
    font-size: x-large;
    border: none;
    background-color: inherit;
}

/* || FOOTER || */

footer {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 75px;
    align-items: center;
    justify-content: center;
}

footer p {
    padding: .2rem;
}

#social {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    margin: auto;
}