@media only screen and (min-width: 600px) {
    header {
        grid-template-columns: 50px auto 300px;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        grid-column: 3;
    }

    .navigation ul {
        flex-direction: row;
    }

    footer {
        flex-direction: row;
    }
}