@media only screen and (min-width: 600px) {
    header {
        grid-template-columns: 60px auto 300px;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        grid-column: 3;
    }

    .navigation ul {
        flex-direction: row;
    }

    .navigation a {
        border: none;
    }

    .view-swap {
        padding: .5rem 3rem;
    }

    footer {
        flex-direction: row;
    }
}