@media only screen and (min-width: 600px) {
    header {
        grid-template-columns: 60px auto 300px;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        grid-column: 3;
    }

    .navigation ul {
        flex-direction: row;
    }

    .navigation a {
        border: none;
    }

    .view-swap {
        padding: .5rem 3rem;
    }

    #members.grid {
        gap: 2rem;
    }

    #members.list {
        margin: 2rem;
    }

    #members.list section {
        grid-template-columns: 1fr 1fr 1fr 2fr;
    }

    .quick-look {
        grid-template-columns: 2fr 1fr 1fr;
    }

    #spotlights {
        flex-direction: row;
    }

    footer {
        flex-direction: row;
    }
}