:root {
    --primary-color: #0c7474;
    --secondary-color: #FFE3E3;
    --accent-color-light: #e7fbf4;
    --text-color: #4C4C4C;
}

/* || SITE WIDE || */
* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    color: var(--text-color);
}

/* || HEADER || */
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    align-items: end;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 2px;
}

header span {
    font-size: 1.2rem;
    color: var(--primary-color);
}

/* || HAMBURGER BUTTON || */
.hamburger {
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/* || NAVIGATION || */
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    text-decoration: none;
    color: var(--text-color);
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: var(--secondary-color);
}

.navigation a:hover {
    background-color: var(--accent-color-light);
}



h1 {
    margin-left: 10px;
    color: var(--primary-color);
}


/* || SECTIONS || */

#main-div {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

#main-div section {
    background-color: var(--secondary-color);
    width: 100%;
    height: 100%;
    border: solid 1px #ccc;

}

section > * {
    margin: 1rem;
}

section h2 {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    margin: 0;
    padding: .5rem;
}

#profile-image {
    width: 150px;
    height: auto;
    border: var(--text-color) solid 2px;
    border-radius: 8px;
    display: block;
    justify-self: center;
    align-self: center;
}

/* || WEB CERTIFICATE COURSES || */

.course-filter {
    display: flex;
    justify-content: space-evenly;
}

.filter-by {
    border: var(--text-color) solid 1px;
    border-radius: 10px;
    background-color: var(--accent-color-light);
    padding: 1rem;
    font-weight: bold;
}

.course-section p {
    text-align: center;
}

#course-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: .5rem .2rem;
}

.course {
    border: var(--text-color) solid 1px;
    border-radius: 10px;
    background-color: var(--accent-color-light);
    padding: .5rem;
}

.course.complete {
    background-color: var(--primary-color);
    color: var(--accent-color-light);
}

.course.complete::before {
    content: "✔ ";
    color: var(--secondary-color);
    text-shadow: var(--text-color) 2px 3px;
}

/* || FOOTER || */

footer {
    background-color: var(--secondary-color);
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border: var(--text-color) solid 1px;
    border-radius: 4px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: var(--accent-color-light);
}