:root {
    --primary-color: #00597c;
    --accent-color-1: #b2d3e0;
    --accent-color-2: #e0e0da;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    text-align: center;
}

h1, h2 {
    color: var(--primary-color);
}

h1 {
    margin: 1rem;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: .5rem;
    background-color: var(--accent-color-2);
    padding: 1.5rem;
    margin: 1rem;
    box-shadow: 0 0 30px #555;
}

section {
    padding: 1rem;
    border: var(--primary-color) solid 1px;
    background-color: var(--accent-color-1);
}

section > * {
    margin: 0.5rem auto;
}

section img {
    /* border: #888 solid 1px; */
    box-shadow: 0 0 20px #111;
}